useDynLib(BLR, .registration=TRUE)
import(SuppDists)

importFrom("stats", "dbeta", "dchisq", "dexp", "dgamma", "dnorm",
     "model.matrix", "rchisq", "rgamma", "rnorm", "runif", "var",
     "weighted.mean")

export(BLR)
